body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    margin: 0;
    padding: 0;
  background: linear-gradient(to bottom,pink,white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background: linear-gradient(skyblue,white);
    background-repeat: no-repeat;
    padding: 20px;
    border: 3px solid grey;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius:5px

  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  